.intro {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  /* margin: 0 auto; */
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.TOC-container {
  margin-top: 15px;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
}

.table-of-contents {
  padding: 2px;
  margin-left: 10px;
  width: 400px;
  font-family: "Roboto";
  font-size: 18px;

  background-image: url(https://cdn.axieinfinity.com/landing-page/_next/static/images/scroll-e9d03a614160aa19b981869e65213a5b@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}
.table-of-contents a{
  text-decoration: none;
  color: #343434;
}



.how-to {
  margin-left: 30px;
  width: auto;
  font-family: "Roboto";
  font-size: 18px;

}

.patch-notes {
  margin-top: 25px;
  margin-left: 30px;
  width: auto;
  font-family: "Roboto";
  font-size: 18px;
}
.patch-notes a{
  text-decoration: none;
  color: #343434;
}
