:root {
  --raisinBlack: #262626;
  --eerieBlack: #1c1c1c;
  --orchidPink: #f2c3d0;
  --palePink: #f5d5d5;
}

.calculator-container {
  width: auto;
  margin: auto;
  margin-bottom: 80px;
  display: block;
}

/* Rounds */
.round-container {
  margin-top: 30px;
  width: auto;
  display: block;
  text-align: center;
  -webkit-text-stroke: 2px #582d14;
  text-shadow: 0 3px 0 #582d14;
  font-family: 'Francois One',sans-serif;
  font-weight: 400;
}

.round-info {
  font-size: 2.5em;
}

.round-number {
  font-size: 2.5em;
  text-align: center;
}

.round-container img {
  height: 45px;
  width: 45px;
}

.energy-quantity {
  margin-top: 5px;
  font-size: 2.5em;
  
}
.cartas-quantity {
  margin-top: 5px;
  font-size: 2em;
}

/* Gain-Loss */
.ene-gain-loss-container {
  margin: 0 auto;
  margin-top: 8px;
  width: auto;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.eneCalc-item {
  padding: 3px;
  display: inline-block;
}
.eneCalc-item p {
  text-align: center;
}

.ene-gain-loss-container button {
  background: url("../img/button.png");
  min-width: 50px;
  width: 92px;
  height: 36px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.ene-gain-loss-container button:hover {
  color: #fff;
  animation: pulse;
  animation-duration: 1.15s;
}

.gain-container {
  margin: 0 auto;
}

/*---*/

.card-gain-loss-container {
  margin: 0 auto;
  width: auto;
  display: block;
  text-align: center;
}

.cardCalc-item {
  padding: 3px;
  display: inline-block;
}
.cardCalc-item p {
  text-align: center;
}

.card-gain-loss-container button {
  background:url("../img/button.png");
  min-width: 50px;
  width: 102px;
  height: 38px;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.card-gain-loss-container button:hover {
  color: #fff;
  animation: pulse;
  animation-duration: 1.15s;
}
